/*  css reset*/
*{
    margin: 0;
    padding: 0;
    user-select:none;
    box-sizing: border-box;
}
html,body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body{
    font-family: "Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-size: 1.6rem;
    color: #333;
}
ul,li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
input{
    user-select: text;
}
input, textarea, button, select{
    outline:none;
    background:transparent;
    border-width: 1px;
    outline:medium;
}
input:focus,textarea:focus{
    outline: none;
    background-color: transparent;
}

/* common class */
:global(.fl){
    float: left;
}
:global(.fr){
    float: right;
}
:global(.nf){
    float: none;
}
:global(.clearfix){
    *zoom: -1;
}
:global(.clearfix:after){
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}


/* css media */
@media (max-width: 320px) {
    html{
        font-size: 8.75px;
    }
}
@media (min-width: 320px) {
    html{
        font-size: 8.75px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 10px;
    }
}
@media (min-width: 414px) {
    html{
        font-size: 11.25px;
    }
}